/* Change background color of code chunks */
pre.sourceCode {
    background-color: #f0f8ff; /* Light blue, change as needed */
    border-radius: 5px; /* Optional: rounded corners */
    padding: 10px; /* Optional: padding inside the code chunk */
}

/* Increase content width */
.content {
    max-width: 95%;
    margin: auto;
}

/* Adjust figure width */
.figure img {
    max-width: 95%;
    height: auto;
}
.smaller {
  font-size: 50%;
}
